tr#inactivo td:nth-child(-n+7){
    background-color: gray; 
    opacity: 0.5 ;
}

.usuarios-table {
    width: 95%;
    border-collapse: collapse;
    margin-left: 3%;
}

.usuarios-table th, .usuarios-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.usuarios-table th {
    background-color: white;
}

.usuarios-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.usuarios-table tr:hover {
    background-color: #f8b6cc;
}


