* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("../img/index/fondoborroso.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .volver {
    position: absolute;
    margin: 2em 0 0 2em;
  }
  
  .volver span {
    font-size: 3rem;
    color: white;
  }
  
  .contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
  }
  
  .f-roja {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #e43a3a;
    z-index: -1;
    border-radius: 0 0 80% 80%;
  }
  
  .titulo {
    position: absolute;
    margin-top: -190px;
    text-align: center;
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  
  .card {
    margin-top: -60px;
    position: absolute; /* La card se sobrepone */
    /* border: solid black 2px; */
    width: 500px;
    height: max-content;
    padding: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 6px 6px 10px rgb(43, 41, 41);
    display: flex;
    flex-direction: column;
  }
  
  .card p {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: larger;
  }
  
  .card img {
    width: 100px;
    border-radius: 50%;
    align-self: center;
  }
  
  .modificar {
    border-radius: 20px;
    padding: 15px;
    text-transform: capitalize;
    background-color: transparent;
    border: solid 2px rgba(220, 86, 86, 0.733);
    margin: 30px auto 0;
    width: 80%;
    text-align: center;
  }
  
  .contenedor-modificar {
    display: flex;
    /* justify-content: center; */
  }
  
  .modificar:hover {
    background-color: rgba(109, 197, 109, 0.83);
    color: white;
    border: none;
  }
  
  .card a {
    margin: auto;
    width: 100%;
    display: flex;
    text-decoration: none;
  }
  
  .informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .informacion li {
    display: flex;
    font-size: 15px;
    margin: 20px 20px 0 20px;
    list-style: none;
    border-bottom: solid rgb(104, 104, 104) 2px;
    width: 80%;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    /* border-radius: 20px; */
  }
  
  .informacion li p {
    margin-left: 9px;
    font-size: 1em;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  /*Informacion referencia usuarios*/
  
  .descripcion {
    position: absolute;
    color: rgba(34, 32, 32, 0.691);
    margin: -1.5em 0 0 3em;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
  }
  
  .material-symbols-outlined {
    color: #e43a64;
    position: relative;
    display: flex;
    padding-right: 10px;
  }
  
  /* Responsive */
  
  @media screen and (max-width: 400px) {
    .card {
      width: 340px;
      padding: 10px;
      box-shadow: 6px 6px 10px rgb(43, 41, 41), -6px -6px 10px rgb(43, 41, 41);
    }
  
    .info {
      margin-top: -230px;
    }
  }
  
  /*Label*/
  
  .contenedor-input input {
    padding: 0.5rem;
    border-radius: 20px;
    border: solid 1px rgba(220, 86, 86, 0.733);
    width: 19rem;
  }
  
  .contenedor-input input:focus {
    border-color: rgba(220, 86, 86, 0.733);
  }
  