@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,200;1,300;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  /* position: relative; */
}

.contenedor {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 100%;
  padding: 0 20px;
  /* position: absolute; */
  z-index: 9999;

}

.logo-responsive,
.logo-dos {
  display: none;
}

.logo {
  width: 130px;
}

.lista-ingreso {
  list-style: none;
  display: flex;
  align-items: center;
}

.lista-ingreso li {
  margin: 0 20px;
  font-size: 1.2em;
}

.fa-arrow-right-to-bracket {
  transform: translate(6px, 2px);
}

.lista-ingreso li a {
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px 10px 10px;
  color: #d40748;
  border: #d40748 solid 1.5px;
  border-radius: 8px;
  transition: background-color 0.6s, color 0.6s;
}

.lista-ingreso li a:hover {
  background-color: #d22c5d;
  color: white;
}

@media screen and (max-width: 490px) {
  .cerrar {
    display: none;
  }

  .fa-arrow-right-to-bracket {
    transform: translate(0px, 0px);
  }

  .lista-ingreso li a {
    padding: 10px;
  }

  .contenedor {
    padding: 0 0 0 10px;
  }
}
