
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .contenedor-general {
    max-width: 1500px;
    padding: 5px;   
    margin: 2% auto;
    border-radius: 20px;
    display: flex;  
    justify-content: space-between;
  }
  
  .contenedor-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    flex: 1;
  }
  
  .item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .titulo-item{
    font-family: 'Poppins', sans-serif;
  }

  .img-item {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .precio-item {
    display: flex;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #d22c5d; 
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .btn-primary{
    margin-left: 5%;
  }

  .boton-item {
    margin-bottom: 20px;
    background-color: black; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton-item:hover {
    background-color: #d22c5d; 
  }

  h5{
    margin: 0.5rem;
    margin-bottom: -2%;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
  }

  h6{
    margin: 1rem ;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .btn-primary{
    font-family: 'Poppins', sans-serif;
  }

  .carrito {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 300px;
    margin-left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    display: none; /* Ocultar inicialmente */
    transition: width 0.5s ease; /* Agregar una transición suave para el cambio de tamaño */
}

.carrito-activo .contenedor {
    max-width: calc(70% - 320px); /* Restar el ancho del carrito para ajustar el tamaño del contenedor */
}

.carrito-visible {
    display: block !important;
}

  .carrito-items {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .carrito-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .carrito-item img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .carrito-item-detalles {
    flex-grow: 1;
  }
  
  .carrito-item-precio {
    font-weight: bold;
  }
  
  .carrito-total {
    margin-top: 10px;
    text-align: right;
  }
  
  /* Estilos para hacer visible el carrito */
  .carrito-visible {
    display: block !important;
  }
  