body {
    background-image: url(../../../FRESAS_ARTURO/resource/img/index/fondonitido.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;

}

h1{
    margin-top: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #888888;
    font-family: 'Poppins', sans-serif;
}

header p {
    color: black;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 4px 8px #d40748;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f3dde4;
}

.card h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}

.card h4 {
    margin: 0 0 20px;
    font-size: 1em;
    color: #666;
}

.card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d22c5d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.card .btn:hover {
    background-color: #e43a3a;
}

footer {
    margin-top: 20px;
}

footer .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d22c5d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer .btn:hover {
    background-color: #e43a3a;
    transform: scale(1.05);
}